<div>
  {%- include flag.html -%}
      <nav class="header-nav">
        <ul class="nav-list">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
            {%- assign title = my_page.title -%}
          {%- endif -%}
          {%- if my_page.nav_title -%}
            {%- assign title = my_page.nav_title -%}
          {%- endif -%}
      
          {%- if title != "" -%}
            {%- unless my_page.exclude -%}
            <li>
              <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ title | escape }}</a>
            </li>
            {%- endunless -%}
          {%- endif -%}
          {%- assign title = "" -%}
        {%- endfor -%}
        </ul>
      </nav>
</div>