// Defines the background color of the page
$background-color: white;
// Defines the width at which column elements stack
$mobile-width: 800px;
// Defines the color of <a> elements
$link-color: black;
// Defines the style of borders in the header, footer, and default <hr> elements.
$border-style: 1px solid black;