---
layout: base 
---
{%- if page.title -%}
  <h1 class="headline">{{page.title}}</h1>
{%- endif -%}
<hr/ class="hed-rule">
{%- if page.subhed -%}
  <h2 class="subhed">{{ page.subhed }}</h2>
{%- endif -%}

{%- assign date = page.date | date: "%B %-d, %Y" -%}
{%- if page.author and page.author-title -%}
  {%- for profile in site.staff -%}
    {%- if page.author == profile.title -%}
      {%- assign profile-link = profile.url -%}
    {%- endif -%}
  {%- endfor -%}
    <h3 class="byline"><a href="{{profile-link}}">{{page.author}}</a>, {{page.author-title}} | {{ date }}</h3>
{%- else -%}
  <h3 class="byline">{{ date }}</h3>
{%- endif -%}

{%- if page.featured-image.path -%}
  <div class="featured-image-container">
  <figure class="featured-image">
    <img src="{{ page.featured-image.path }}" alt="{{ page.featured-image.alt-text }}"/>
    <figcaption>{{ page.featured-image.cutline }} - Photo by {{ page.featured-image.credit }}</figcaption>
  </figure>
  </div>
{%- endif -%}
<article class="article-content">
  {{ content }}
</article>

{%- include disqus.html -%}