---
layout: base
---
<div class="staff-profile">
  <img class="staff-mug" src="{{ page.mug-path }}" alt="Headshot: {{ page.title }}">

  <h2><b>{{ page.title }}</b>, {{ page.author-title }}</h2>

  {{ content }}
</div>
<hr />

<div class="featured-image-container">
  <div class="featured-stories-container">
    {%- for post in site.posts -%}
      {%- if post.author == page.title -%}
        {%- if post.featured-image.path -%}
          <div class="featured-story" style="background-image: url('{{post.featured-image.path}}');">
            <div class="featured-story-text">
              <a class="featured-story-headline" href="{{ post.url }}">{{ post.title }}</a>
              {%- assign date = post.date | date: "%B %-d, %Y" -%}
              <p class="featured-story-byline">{{ date }}</p>
            </div>
          </div>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  </div>
</div>
